{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <!-- site metas -->
    <title>Dys</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      rel="icon"
      type="image/png"
      href="{%static 'images/icons/favicon.ico' %}"
    />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- owl css -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- responsive-->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <!-- awesome fontfamily -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <style>
      .column {
        float: left;
        width: 20%;
        padding: 10px;
        height: 300px;
      }
      .zoom {
        padding: 50px;
        transition: transform 0.2s;
        width: 290px;
        height: 300px;
        margin: 0 auto;
      }

      .zoom:hover {
        -ms-transform: scale(1.3); /* IE 9 */
        -webkit-transform: scale(1.3); /* Safari 3-8 */
        transform: scale(1.3);
      }
    </style>
  </head>
  <!-- body -->

  <body class="main-layout Recipes_page">
    <!-- loader  -->
    <div class="loader_bg">
      <div class="loader">
        <img src="{% static 'images/loading.gif' %}" alt="" />
      </div>
    </div>
    <div class="wrapper">
      <!-- end loader -->

      <div class="sidebar">
        <!-- Sidebar  -->
        <nav id="sidebar">
          <div id="dismiss">
            <i class="fa fa-arrow-left"></i>
          </div>

          <ul class="list-unstyled components">
            <li class="active">
              <a href="/index/">Home</a>
            </li>
            <li>
              <a href="/about/">About</a>
            </li>
            <li>
              <a href="/recipe/">Recipe</a>
            </li>
            <li>
              <a href="/order/category/">Items</a>
            </li>
            <li>
              <a href="/order/orderdetails">Order Details</a>
            </li>
            <li>
              <a href="/blog/">Blog</a>
            </li>
          </ul>
        </nav>
      </div>

      <div id="content">
        <!-- header -->
        <header>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <div class="full">
                  <a class="logo" href="/index/"
                    ><img src="{% static 'images/logo.png' %}" alt="#"
                  /></a>
                </div>
              </div>
              <div class="col-md-9">
                <div class="full">
                  <div class="right_header_info">
                    <ul>
                      <li class="dinone">
                        Contact Us :
                        <img
                          style="margin-right: 15px; margin-left: 15px"
                          src="{% static 'images/phone_icon.png'%}"
                          alt="#"
                        /><a href="#">(0281)180038</a>
                      </li>
                      <li class="dinone">
                        <img
                          style="margin-right: 15px"
                          src="{% static 'images/mail_icon.png'%}"
                          alt="#"
                        /><a href="#">dys@dys.food.in</a>
                      </li>
                      <li class="dinone">
                        <img
                          style="
                            margin-right: 15px;
                            height: 21px;
                            position: relative;
                            top: -2px;
                          "
                          src='{%static "images/location_icon.png" %}'
                          alt="#"
                        /><a href="#">Surat Gujarat</a>
                      </li>
                      {% if user.is_authenticated %}
                      <li class="dinone">
                        <img src="{% static 'images/profile.png'%}" alt="#" />
                        Welcome, {{user.username}}
                      </li>
                      <li class="dinone">
                        <a href="/cart/show_cart/"
                          ><i
                            class="fa fa-shopping-cart"
                            style="color: white; font-size: 35px"
                          ></i
                        ></a>
                      </li>
                      <li class="button_user">
                        <a class="button active" href="/login/logout">Logout</a>
                      </li>
                      {%else%}
                      <li class="button_user">
                        <a class="button active" href="/login/">Login</a
                        ><a class="button" href="/login/register">Register</a>
                      </li>
                      {%endif%}
                      <li>
                        <button type="button" id="sidebarCollapse">
                          <img
                            src="{% static 'images/menu_icon.png' %}"
                            alt="#"
                          />
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <!-- end header -->
        {% block content %}{% endblock%}
        <!-- footer -->
        <footer>
          <div class="footer">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="footer_logo">
                    <a href="{% static 'index.html' %}"
                      ><img src="{% static 'images/logo.png' %}" alt="logo"
                    /></a>
                  </div>
                </div>
                <div class="col-md-12">
                  <ul class="lik">
                    <li><a href="/index/">Home</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/recipe/">Recipe</a></li>
                    <li><a href="/blog/">blog</a></li>
                  </ul>
                </div>
                <div class="col-md-12">
                  <div class="new">
                    <a href="#"
                      ><img src="{% static 'images/instagram.png'%}" alt="#"
                    /></a>
                    &emsp;
                    <a href="#"
                      ><img src="{% static 'images/twitter.png'%}" alt="#"
                    /></a>
                    &emsp;
                    <a href="#"
                      ><img src="{% static 'images/facebook.png'%}" alt="#"
                    /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="copyright">
              <div class="container"></div>
            </div>
          </div>
        </footer>
        <!-- end footer -->
      </div>
    </div>
    <div class="overlay"></div>
    <!-- Javascript files-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/myscript.js' %}"></script>
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
          theme: "minimal",
        });

        $("#dismiss, .overlay").on("click", function () {
          $("#sidebar").removeClass("active");
          $(".overlay").removeClass("active");
        });

        $("#sidebarCollapse").on("click", function () {
          $("#sidebar").addClass("active");
          $(".overlay").addClass("active");
          $(".collapse.in").toggleClass("in");
          $("a[aria-expanded=true]").attr("aria-expanded", "false");
        });
      });
    </script>

    <script>
      $(document).ready(function () {
        var owl = $(".owl-carousel");
        owl.owlCarousel({
          margin: 10,
          nav: true,
          loop: true,
          responsive: {
            0: {
              items: 1,
            },
            600: {
              items: 2,
            },
            1000: {
              items: 5,
            },
          },
        });
      });
    </script>
  </body>
</html>
