{% extends 'baseWithoutfeedback.html' %} {% load static %} {% block content %}
<div style="margin-top: 130px">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-md-offset-3">
        <div class="panel panel-default shadow p-3 mb-5 bg-white rounded">
          <div class="panel-body">
            <div class="col-md-12 text-center">
              <i class="fa fa-4x fa-user-plus"></i>
            </div>
            <div id="l-register" class="bottommargin_0 col-md-12 form-group">
              <form
                action="/login/register/"
                class="form-horizontal"
                method="post"
              >
                {% csrf_token %}
                <div class="form-group">
                  <div class="col-md-3">
                    <label for="UserName">UserName</label>
                  </div>

                  <div class="col-md-9">
                    <div class="input-group input-group-sm">
                      <span class="input-group-addon" id="basic-addon1"
                        ><i class="fa fa-user"></i
                      ></span>

                      <input
                        class="form-control"
                        name="username"
                        placeholder="Enter Username"
                        type="text"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-3">
                    <label for="Email">Email</label>
                  </div>
                  <div class="col-md-9">
                    <div class="input-group input-group-sm">
                      <span class="input-group-addon">
                        <i class="fa fa-envelope-o fa-lg"></i>
                      </span>
                      <input
                        class="form-control"
                        name="email"
                        placeholder="Enter email"
                        type="email"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-3">
                    <label for="Password">Password</label>
                  </div>
                  <div class="col-md-9">
                    <div class="input-group input-group-sm">
                      <span class="input-group-addon">
                        <i class="fa fa-lock fa-lg"></i>
                      </span>
                      <input
                        class="form-control"
                        name="password"
                        placeholder="Enter password"
                        type="password"
                        minlength="8"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-3">
                    <label for="Password">Confirm Password</label>
                  </div>
                  <div class="col-md-9">
                    <div class="input-group input-group-sm">
                      <span class="input-group-addon">
                        <i class="fa fa-lock fa-lg"></i>
                      </span>
                      <input
                        class="form-control"
                        name="password1"
                        placeholder="ReType password"
                        type="password"
                        minlength="8"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <button
                      type="submit"
                      class="btn btn-info btn-block login-button"
                    >
                      Register &nbsp;
                    </button>
                  </div>
                </div>
              </form>
              {%for msg in messages%}
              <script type="text/javascript">
                alert("{{msg}}");
              </script>
              {%endfor%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
